.heart {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  /* align-items: center; */
  justify-content:space-between;
  height: 800px;
}

.box {
  height: 150px;
  width: 150px;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}